<div data-hook="confirma_usuario_form_header">
  <h1><%= t(:confirmacion_usuario) %></h1>
  <p>El registro es en dos pasos: <br/>
  En este primer paso validaremos su cuenta de correo...
  </p>
</div>

<div data-hook="confirma_usuario_form">
  <%= form_tag("/registro_correo/#{@cliente.id}C#{@cliente.user_id}/confirma_usuario_2", :method => 'put') do %>
    <%= render :partial => 'form_confirma' %>
    <div data-hook="confirma_usuario_form_button">
      <p><%= submit_tag t(:continue), :class => 'button primary' %></p>
    </div>
  <% end %>
</div>
